<form nz-form [nzLayout]="'inline'">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="date">Date</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input name="date" type="date" id="date">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="num">#Num</nz-form-label>
        <nz-form-control [nzSpan]="20">
          <input nz-input name="num" type="text" id="num">
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="local">Local</nz-form-label>
        <nz-form-control [nzSpan]="10">
          <input nz-input name="local" type="select" id="local">
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="10" nzFor="montant">Montant</nz-form-label>
        <nz-form-control [nzSpan]="10">
          <input nz-input name="montant" type="number" id="montant">
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="10" nzFor="echeance">Echéance</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="echeance" type="date" id="echeance">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="statut">Statut</nz-form-label>
        <nz-form-control [nzSpan]="8">
          <input nz-input name="statut" type="text" id="statut">
        </nz-form-control>
    </nz-form-item>
  </form>
  