<nz-header class="station-sync-nav-bar">
    <div class="station-sync-logo-holder">
      <a class="logo" routerLink="/"></a>
      <div class="station-sync-dropdown-holder">
        <a class="station-sync-username-header" nz-dropdown [nzDropdownMenu]="menu">
          {{ username || 'Utilisateur' }}
        </a>
        
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item>
                Profile
              </li>
              <li nz-menu-item>Locaux</li>
              <li nz-menu-item>test</li>
            </ul>
          </nz-dropdown-menu>
      </div>
    </div>
  </nz-header>
  