### Node / Angular ###
node_modules/
dist/
.angular/
tmp/
out-tsc/
bazel-out/
coverage/
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log

### IDEs ###
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.settings/
*.sublime-workspace
.c9/
.project
.classpath

### System ###
.DS_Store
Thumbs.db
.history/

### Env & Secrets ###
.env
*.env
