<div class="home-content-holder">
    <div class="home-stats-holder">
        <div class="today-levy-indicator" (click)="goToBank()">
            <img class="image-indicator" src="../../../assets/images/invoice.svg">
            <h3>
                Factures
            </h3>
            <div *ngIf="elementLoading" class="spinner-holder">
                <nz-spin nzSize="large"></nz-spin>
            </div>
            <h3>
                <span class="text-indicator">{{ totalShells }}</span>
            </h3>
                <nz-collapse>
                      <nz-collapse-panel [nzActive]="true">
                        <p>
                            hello
                        </p>
                      </nz-collapse-panel>
                </nz-collapse>
        </div>
        <div class="fuel-invoice-indicator">
            <img class="image-indicator" src="../../../assets/images/fuel.svg">
            <h3>
                Factures Carburant
            </h3>
            <h3>
                <span class="text-indicator">5</span>
            </h3>
            <nz-collapse>
                <nz-collapse-panel nzHeader="Détails" nzActive="true">
                  <p>
                      hello
                  </p>
                </nz-collapse-panel>
            </nz-collapse>
            
        </div>
        <div class="oil-invoice-indicator">
            <img class="image-indicator" src="../../../assets/images/fuel.svg">
            <h3>
                Factures huile
            </h3>
            <h3>
                <span class="text-indicator">5</span>
            </h3>
            <nz-collapse>
                <nz-collapse-panel [nzActive]="true">
                  <p>
                      hello
                  </p>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
    </div>
</div>

<app-popup-loading *ngIf="navigationLoading"></app-popup-loading>