<div class="register-page-container">
    <div class="register-box">
  
      <!-- 🔄 Partie GAUCHE maintenant = LOGO -->
      <div class="register-left">
        <img src="assets/images/logo-station-sync.jpeg" alt="Station Sync Logo" class="logo-image" />
  
        <h2>WELCOME!</h2>
        <p>Create your account and start your journey with us</p>
        <button nz-button nzType="default" routerLink="/auth/login">LOGIN</button>
      </div>
  
      <!-- 🔄 Partie DROITE maintenant = FORMULAIRE -->
      <div class="register-right">
        <h2>Register</h2>
  
        <form nz-form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <!-- Username -->
            <nz-form-item>
              <nz-form-control [nzSpan]="24" nzErrorTip="Nom d'utilisateur requis">
                <nz-input-group [nzPrefix]="userIcon">
                  <input nz-input formControlName="username" placeholder="Nom d'utilisateur" />
                </nz-input-group>
                <ng-template #userIcon>
                  <i nz-icon nzType="user"></i>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          
            <!-- Email -->
            <nz-form-item>
              <nz-form-control [nzSpan]="24" nzErrorTip="Email invalide">
                <nz-input-group [nzPrefix]="mailIcon">
                  <input nz-input formControlName="email" type="email" placeholder="Adresse Email" />
                </nz-input-group>
                <ng-template #mailIcon>
                  <i nz-icon nzType="mail"></i>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          
            <!-- Password -->
            <nz-form-item>
              <nz-form-control [nzSpan]="24" nzErrorTip="Mot de passe requis">
                <nz-input-group [nzPrefix]="lockIcon">
                  <input nz-input formControlName="password" type="password" placeholder="Mot de passe" />
                </nz-input-group>
                <ng-template #lockIcon>
                  <i nz-icon nzType="lock"></i>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          
            <!-- Submit Button -->
            <button nz-button nzType="primary" [disabled]="registerForm.invalid" class="login-btn">
              <i nz-icon nzType="user-add"></i> REGISTER
            </button>
          </form>
          
      </div>
  
    </div>
  </div>
  