.btn-add-facture{
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
}
.carre-btn {
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 24px;
    text-align: center;
    line-height: 1;
  }