<div class="login-page-container">
    <div class="login-box">
      <div class="login-left">
        <h2>Login please</h2>
  
        <form nz-form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  
          <nz-form-item>
            <nz-form-control [nzSpan]="24" nzErrorTip="Nom d'utilisateur requis">
              <nz-input-group [nzPrefix]="userIcon">
                <input nz-input formControlName="username" placeholder="Input your user ID or Email" />
              </nz-input-group>
              <ng-template #userIcon>
                <i nz-icon nzType="user"></i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
  
          <nz-form-item>
            <nz-form-control [nzSpan]="24" nzErrorTip="Mot de passe requis">
              <nz-input-group [nzPrefix]="lockIcon">
                <input nz-input formControlName="password" type="password" placeholder="Input your password" />
              </nz-input-group>
              <ng-template #lockIcon>
                <i nz-icon nzType="lock"></i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
  
   
  
          <button nz-button nzType="primary" [disabled]="loginForm.invalid" class="login-btn">
            <i nz-icon nzType="login"></i> LOG IN
          </button>
        </form>
      </div>
  
      <div class="login-right">

        <img src="assets/images/logo-station-sync.jpeg" alt="Station Sync Logo" class="logo-image" />

        <h2>WELCOME!</h2>
        <p>Enter your details and start journey with us</p>
        <button nz-button nzType="default" routerLink="/auth/register">SIGNUP</button>
      </div>
    </div>
  </div>
  