<nz-sider >
    <ul class="side-menu-holder" nz-menu nzMode="inline" [nzTheme]="'dark'">
        <li class="side-menu-title-holder" nz-menu-group nzTitle="Shell">
          <ul>
            <li nz-menu-item nzSelected routerLink="/shell/factures">Toutes les factures</li>
            <li nz-menu-item routerLink="/shell/avoir">Avoir</li>
            <li nz-menu-item routerLink="/shell/carburant">Carburant</li>
            <li nz-menu-item routerLink="/shell/lubrifiant">Lubrifiant</li>
            <li nz-menu-item routerLink="/shell/loyer">Loyer</li>
            <li nz-menu-item routerLink="/shell/analyse">Statistiques</li>
          </ul>
        </li>
        <li class="side-menu-title-holder" nz-menu-group nzTitle="Bank">
          <ul>
            <li nz-menu-item [nzSelected]="test ? true : false" routerLink="/bank/prelevements">
              Prélèvements
            </li>
            
            <li nz-menu-item [nzSelected]="test ? true : false" routerLink="/bank/operations">Operations</li>
            <li nz-menu-item>Statistiques</li>

          </ul>
        </li>
    </ul>
</nz-sider>