.shell-container{
    display: flex;
}

.breadcrumb-holder{
    margin-top: 10px;
    margin-left: 20px;
    span{
        font-size: 10px;
    }
}

.main-holder{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}